# Automatically add project binaries to PATH when entering this directory
# Requires direnv: https://direnv.net/
# After creating this file, run: direnv allow

PATH_add vendor/nim/bin
PATH_add nimbledeps/bin
