[submodule "vendor/godot"]
	path = vendor/godot
	url = https://github.com/godotengine/godot.git
	branch = 4.4.1-stable
[submodule "vendor/godot_voxel"]
	path = vendor/modules/voxel
	url = https://github.com/Zylann/godot_voxel.git
	branch = master
[submodule "vendor/pcre"]
	path = vendor/pcre
	url = https://github.com/luvit/pcre
	ignore = dirty
[submodule "vendor/nim"]
	path = vendor/nim
	url = https://github.com/dsrw/Nim
