<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Enu.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1.0</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>7FC4F170D84F4376DEA47F13F19BF87FB49A33F4</string>
				<key>dateExpires</key>
				<string>2025-06-15</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>78XKJ5H5BX.com.getenu.enu</string>
				<key>com.apple.developer.team-identifier</key>
				<string>78XKJ5H5BX</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Enu.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>6b654f55-fa17-4cf1-9bda-239ec4627a21</string>
				<key>dateExpires</key>
				<string>2025-06-18</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.getenu.enu</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>78XKJ5H5BX</string>
				<key>name</key>
				<string></string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
