    <ol class="chapter">
      <li class="chapter-item expanded">
        <a href="{{ path_to_root }}intro.html" tabindex="0">← Documentation</a>
      </li>
      <li class="chapter-item expanded">
        <a href="enu_api.html" class="active" tabindex="0">API Reference</a>
        <ol class="section api-nav-content">
          {{#api.hasConstants}}
          <li class="chapter-item">
            <div class="api-nav-header" data-section="constants">Constants</div>
          </li>
          {{#api.constants}}
          <li class="chapter-item api-nav-item" data-section-item="constants"><a href="#{{ anchor }}">{{ name }}</a></li>
          {{/api.constants}}
          {{/api.hasConstants}}

          {{#api.hasEnums}}
          <li class="chapter-item">
            <div class="api-nav-header" data-section="enums">Enums</div>
          </li>
          {{#api.enums}}
          <li class="chapter-item api-nav-item" data-section-item="enums"><a href="#{{ anchor }}">{{ name }}</a></li>
          {{/api.enums}}
          {{/api.hasEnums}}

          <li class="chapter-item">
            <div class="api-nav-header api-types-toggle" data-expanded="true">Types</div>
          </li>
          {{#api.types}}
          {{#hasOps}}
          <li class="chapter-item api-nav-item">
            <details class="api-type-details" data-type="{{ name }}">
              <summary><a href="#{{ anchor }}">{{ name }}</a></summary>
              <ol class="section">
                {{#staticProcNames}}
                <li class="chapter-item"><a href="#{{ anchor }}">{{ name }}</a></li>
                {{/staticProcNames}}
                {{#procNames}}
                <li class="chapter-item"><a href="#{{ anchor }}">{{ name }}</a></li>
                {{/procNames}}
              </ol>
            </details>
          </li>
          {{/hasOps}}
          {{^hasOps}}
          <li class="chapter-item api-nav-item"><a href="#{{ anchor }}">{{ name }}</a></li>
          {{/hasOps}}
          {{/api.types}}

          {{#api.freeProcModules}}
          <li class="chapter-item">
            <div class="api-nav-header" data-section="module-{{ name }}" data-anchor="{{ anchor }}" data-collapsed>{{ name }}</div>
          </li>
          {{#procs}}
          <li class="chapter-item api-nav-item" data-section-item="module-{{ module }}"><a href="#{{ anchor }}">{{ name }}</a></li>
          {{/procs}}
          {{/api.freeProcModules}}
        </ol>
      </li>
    </ol>
